.header {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    background: rgb(11, 129, 150);
    
}

.search-input {
    width: 400px;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
}

.search-input:focus {
    border: none;
    outline: none;
}

.search-form {
    position: relative;
}

.search-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 10px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-hidden{
    display: none;
}

.load-more{

   width: 120px;
   padding: 10px 15px;
   border-radius: 10px;
}


.container{
    display: block;
    text-align: center;
    
  
}